<div class="container text-center error">
  <div class="col-md-6 col-md-offset-3">
    <div class="message">{{ message }} {{ error.status }}</div>
    <div class="stack">{{ error.stack }}</div>

    <div>
      <a href="/" class="btn btn-primary btn-back">Back to Our Revolution</a>
    </div>
  </div>
</div>
