<div class="container-fluid">
    <section class="hero text-center">
      <div class="headline container signup-container">
        <h1>Our Revolution</h1>
        <h2>Join us for the future of our political movement.</h2>

        <form class="signup" action="/" method="post" enctype="application/x-www-form-urlencoded">
          <span class="inputgroup email">
            <label class="sr-only" for="email">Email Address</label>
            <input id="email" name="email" size="48" type="email" placeholder="Email Address" value="{{email}}" required/>
          </span>

          <span class="inputgroup zip">
            <label class="sr-only" for="zip">Zip Code</label>
            <input id="zip" name="zip" size="8" type="number" min="0" inputmode="numeric" pattern="[0-9]*" placeholder="Zip Code" value="{{zip}}" required/>
          </span>

          <span class="inputgroup submit">
            <button name="submit" type="submit" id="submit" class="btn btn-primary" value='submit'>Join the Fight</button>
          </span>

          {{#if error}}
            <br/><br/>
            <div class="alert alert-danger" role="alert">{{error}}</div>
          {{/if}}
        </form>
      </div>

    <footer>
      <small>Our Revolution is a 501(c)(4) non-profit organization.</small>
    </footer>
  </div>
</div>
