<div class="contribute">
  <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=ourrevolution_landing" class="btn btn-secondary btn-contribute">Contribute to the Revolution <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container centered">

  <section class="hero text-center">
    <div class="headline container signup-container">
      <h1>Our Revolution</h1>
      <h2>Join us for the future of our political movement.</h2>

      <form class="signup" action="/" method="post" enctype="application/x-www-form-urlencoded">
        {{#if error}}
          <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}

        <span class="inputgroup email">
          <label for="email">Email Address</label>
          <input id="email" name="email" size="48" type="email" placeholder="you@example.com" value="{{email}}" required/>
        </span>

        <span class="inputgroup zip">
          <label for="zip">Zip Code</label>
          <input id="zip" name="zip" size="8" type="text" min="0" pattern="[0-9]*" placeholder="05401" value="{{zip}}" required/>
        </span>

        <button name="submit" type="submit" id="submit" class="btn btn-primary submit" value='submit'>Join the Fight</button>
      </form>
    </div>
  </section>
</div>
