<div class="social-buttons">
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://ourrevolution.com" target="_blank" class="facebook">Share on Facebook</a>

  <a href="https://twitter.com/home?status=Carry%20on%20the%20struggle%20that%20we%20have%20been%20a%20part%20of%20these%20past%2015%20months.%20Join%20%23OurRevolution.%20%E2%80%93Bernie%20Sanders%20https%3A%2F%2Fourrevolution.com" target="_blank" class="twitter">Tweet</a>
</div>

<div class="container centered">
  <section class="hero text-center">
    <div class="headline signup-container success-container">

      <div class="col-md-6 col-md-offset-3 success">

        <div class="success-message">
          <h1>You're in.</h1>
          <p>Our political movement continues, and you've just signed up to be a part of it. We'll be in touch via <strong>{{email}}</strong> when we're ready to get to work.</p>
        </div>

        <div class="donate">
          <p><strong>Our Revolution relies entirely on contributions from people like you. Can you pitch in and help fuel this movement?</strong></p>

          <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=ourrevolution_landing_success" class="btn btn-primary btn-block">Contribute</a>
        </div>
      </div>
    </div>
  </section>
</div>
