<div class="container-fluid">
    <section class="hero text-center">
      <div class="headline container">
        <div class="col-md-12">
          <h1>Our Revolution</h1>
          <h2>Thanks for signing up!</h2>
          <h4>We'll be in touch with you via {{email}} soon.</h4>
          <br/>

          <p class="social-buttons">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://ourrevolution.com" style="display:inline-block" target="_blank"><img alt="Share on Facebook" class="CToWUd" src="https://ci6.googleusercontent.com/proxy/YlnPOo7WUaqYrr9xssjbWGzoTmTrHZaotOkn6BCxaAJh-vpY5WKlTzddbbKJubmSB5LLTEEpKA9oov4C5IwFPekjSHw=s0-d-e1-ft#https://connect.berniesanders.com/fb_share.png"></a>

            <a href="https://twitter.com/home?status=Carry%20on%20the%20struggle%20that%20we%20have%20been%20a%20part%20of%20these%20past%2015%20months.%20Join%20%23OurRevolution.%20%E2%80%93Bernie%20Sanders%20https%3A%2F%2Fourrevolution.com" style="display:inline-block" target="_blank"> <img alt="Share on Twitter" class="CToWUd" src="https://ci5.googleusercontent.com/proxy/sU-H4ODcoU81_O7-YoGW8VQL3i_FKtFku3iHY3xhWw2wL1RoRKep013kjRpjV0LotOMKZndV62bIjM4mj7Ljt3o96vY=s0-d-e1-ft#https://connect.berniesanders.com/tw_share.png"></a>
          </p>
        </div>
      </div>

    <footer>
      <small>Our Revolution is a 501(c)(4) non-profit organization.</small>
    </footer>
  </div>
</div>
