<div class="social-buttons">
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://ourrevolution.com" target="_blank" class="facebook">Share on Facebook</a>

  <a href="https://twitter.com/home?status=Carry%20on%20the%20struggle%20that%20we%20have%20been%20a%20part%20of%20these%20past%2015%20months.%20Join%20%23OurRevolution.%20%E2%80%93Bernie%20Sanders%20https%3A%2F%2Fourrevolution.com" target="_blank" class="twitter">Tweet</a>
</div>

<div class="container-fluid">
    <section class="hero text-center">
      <div class="headline container signup-container">

        <div class="col-md-6 col-md-offset-3">

          <div class="success-message">
            <h3>Thanks for signing up!</h3>
            <p>We'll be in touch with you via {{email}} soon.</p>
          </div>

          <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=ourrevolution_landing_success" class="btn btn-primary">Contribute</a>
        </div>
      </div>

    <footer>
      <small>Our Revolution is a 501(c)(4) non-profit organization.</small>
      <div class="text-center"><a href="/privacy-policy">Privacy Policy</a></div>
    </footer>
  </section>
</div>
