.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 600px;
  background-color: #0066ba;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; }

/* General */
html {
  font-size: 62.5%;
  height: 100%; }

.btn {
  border-radius: 4px; }
  .btn.btn-primary {
    background: #20c261;
    color: white;
    font-weight: 700;
    border: 0;
    padding: 15px; }
    .btn.btn-primary:hover {
      background: #1cac56; }
    .btn.btn-primary:active, .btn.btn-primary:focus {
      background: #19964b;
      border: 0;
      outline: 0;
      box-shadow: none; }

h1 {
  font-weight: 700;
  font-size: 8rem; }

h2 {
  font-weight: 500;
  font-size: 2.8rem; }

/* Hero */
section.hero h1 {
  margin-top: 0; }
section.hero .headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
section.hero form.signup {
  padding-top: 4rem;
  max-width: 700px;
  margin: auto;
  width: 100%; }
  section.hero form.signup .email input {
    width: 45%; }
  section.hero form.signup .zip input {
    width: 28%;
    margin-left: 2%; }
  section.hero form.signup .submit {
    width: 20%;
    float: right; }
    section.hero form.signup .submit .btn {
      width: 100%; }
  section.hero form.signup input {
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #333;
    padding: 15px; }
  section.hero form.signup input[type=number]::-webkit-inner-spin-button,
  section.hero form.signup input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; }

/* Footer */
footer {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0; }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4rem; }

  h2 {
    font-size: 2rem; }

  form.signup input, form.signup button, form.signup .inputgroup {
    display: block;
    width: 100% !important;
    margin: 0 0 15px !important;
    box-sizing: border-box; } }
