@import 'colors';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 600px;
  background-color: $blue;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  font-weight: 700;

  &:hover, &:focus {
    color: white;
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* General */
html {
  font-size: 62.5%;
  // 62.5% so we can use rem values that are similar to pixel values, i.e. 2.4rem = 24px
  height: 100%;
}

.btn {
  border-radius: 4px;

  &.btn-primary {
    background: $green;
    color: white;
    font-weight: 700;
    border: 0;
    padding: 15px;

    &:hover {
      background: darken($green, 5);
    }

    &:active, &:focus {
      background: darken($green, 10);
      border: 0;
      outline: 0;
      box-shadow: none;
    }
  }

  &.btn-secondary {
    border-radius: 50px;
    background: lighten($blue,10);
    color: white;
    padding: 10px 15px;
    transition: 0.25s;

    &:hover {
      background: lighten($blue,15);
    }

    &:active, &:focus {
      background: lighten($blue,20);
      outline: 0;
      box-shadow: none;
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 8rem;
}

h2 {
  font-weight: 500;
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  body {
    min-height: 550px;
  }
}

.btn-contribute {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Hero */

section.hero {

  h1 {
    margin-top: 0;
  }

  .headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 767px) {
    .headline {
      top: 5%;
      transform: translate(-50%, 0%);
    }

    .signup-container {
      width: 100%;
      max-width: 500px;
    }
  }

  form.signup {
    padding-top: 4rem;
    max-width: 700px;
    margin: auto;
    width: 100%;
    text-align: left;

    .alert {
      margin-top: 15px;
      text-align: center;
      background: $red;
      border: 0;
      color: white;
      font-weight: 700;
    }

    .email input {
      width: 45%;
    }

    .zip input {
      width: 29.5%;
      margin-left: 2%;
    }

    .submit {
      width: 20%;
      float: right;

      .btn {
        width: 100%;
      }
    }

    input {
      width: 100%;
      border: none;
      border-radius: 4px;
      color: $darkgray;
      padding: 15px;
    }

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

  }
}

/* Success */
.success-message {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.social-buttons {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;

  .facebook {
    background: url('../img/facebook.svg') center center no-repeat;
    @extend .hide-text;
    display: inline-block;
    width: 40px;

    &:hover {
      opacity: 0.8;
    }
  }

  .twitter {
    @extend .hide-text;
    background: url('../img/twitter.svg') center center no-repeat;
    display: inline-block;
    width: 40px;

    &:hover {
      opacity: 0.8;
    }
  }
}

/* Footer */
footer {
 color: white;
 position: absolute;
 bottom: 20px;
 left: 0;
 right: 0;
}

/* Privacy Policy */
a.banner {
  position: absolute;
  left: 0;
  right:0;
  background: lighten($blue,10);
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    background: lighten($blue, 20);
    text-decoration: none;
  }

  &:focus {
    background: lighten($blue, 25);
    text-decoration: none;
  }
}

section.privacy-policy {
  margin-top: 80px;
  margin-bottom: 80px;

  a {
    color: white;
    font-weight: 700;

    &:hover, &:focus {
      color: white;
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 5rem;
  }

}

/* Error Pages*/
div.error {
  padding: 50px;

  .message, .status {
    font-weight: 700;
  }

  .stack {
    text-align: left;
    white-space: pre-line;
  }

  .btn-back {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  form.signup input, form.signup button, form.signup .inputgroup {
    display: block;
    width: 100% !important;
    margin: 0 0 15px !important;
    box-sizing: border-box;
    float: none !important;
  }

  .btn-contribute {
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0 !important;
  }

  .signup-container {
    padding-top: 30px;
  }
}
