.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #0066ba;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    body.flex .flex-header, body.flex .flex-footer {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none; }
    body.flex .centered {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }

a {
  color: white;
  font-weight: 700; }
  a:hover, a:focus {
    color: white; }

.hide-text, .social-buttons .facebook, .social-buttons .twitter {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* General */
html {
  font-size: 62.5%;
  height: 100%; }

p {
  font-size: 1.6rem; }

.btn {
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 0 1.5rem;
  margin: 0;
  border: 0;
  height: 4.4rem;
  line-height: 4.4rem;
  box-sizing: border-box; }
  .btn.btn-primary {
    background: #20c261;
    color: white;
    font-weight: 700;
    border: 0; }
    .btn.btn-primary:hover {
      background: #1cac56; }
    .btn.btn-primary:active, .btn.btn-primary:focus {
      background: #19964b;
      border: 0;
      outline: 0;
      box-shadow: none; }
  .btn.btn-secondary {
    background: #dc6262;
    font-weight: 700;
    color: white;
    -webkit-transition: 0.25s;
    transition: 0.25s; }
    .btn.btn-secondary:hover {
      background: #d54141; }
    .btn.btn-secondary:active, .btn.btn-secondary:focus {
      outline: 0;
      box-shadow: none; }

h1 {
  font-weight: 700;
  font-size: 8rem; }

h2 {
  font-weight: 500;
  font-size: 2.8rem;
  margin-top: 1rem; }

h3 {
  font-size: 2.4rem;
  font-weight: 700; }

@media (max-width: 767px) {
  body {
    min-height: 550px; } }
.btn-contribute {
  height: 4.4rem;
  line-height: 4.4rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
  border-radius: 0; }

/* Hero */
section.hero h1 {
  margin-top: 0; }
@media (max-width: 767px) {
  section.hero .signup-container {
    width: 100%;
    max-width: 500px; } }
section.hero form.signup {
  padding-top: 4rem;
  max-width: 700px;
  margin: auto;
  width: 100%;
  text-align: center;
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */ }
  section.hero form.signup .inputgroup {
    display: inline-block;
    margin-right: 0.5%;
    text-align: left; }
    section.hero form.signup .inputgroup.email {
      width: 45%; }
    section.hero form.signup .inputgroup.zip {
      width: 30%; }
  section.hero form.signup .alert {
    margin-top: 15px;
    text-align: center;
    background: #dc6262;
    border: 0;
    color: white;
    font-weight: 700; }
  section.hero form.signup .submit {
    width: 22%;
    vertical-align: bottom; }
    section.hero form.signup .submit .btn {
      width: 100%; }
  section.hero form.signup input {
    width: 100%;
    border-radius: 4px;
    color: #333;
    height: 4.4rem;
    line-height: 4.4rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    border: 1px solid #eee; }
  section.hero form.signup input:focus::-webkit-input-placeholder {
    color: transparent; }
  section.hero form.signup input:focus:-moz-placeholder {
    color: transparent; }
  section.hero form.signup input:focus::-moz-placeholder {
    color: transparent; }
  section.hero form.signup input:focus:-ms-input-placeholder {
    color: transparent; }
  section.hero form.signup input[type=number]::-webkit-inner-spin-button,
  section.hero form.signup input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; }
  section.hero form.signup label {
    font-size: 1.4rem;
    padding: 0 0 0.5rem; }

/* Success */
.success {
  padding: 20px;
  border-radius: 5px;
  background: #0066ba;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .success .donate {
    background: #0f3059;
    margin: 20px -20px -20px;
    padding: 20px;
    border-radius: 0 0 5px 5px; }

.social-buttons {
  text-align: center;
  margin: 20px auto; }
  .social-buttons .facebook {
    background: url("../img/facebook.svg") center center no-repeat;
    display: inline-block;
    width: 40px; }
    .social-buttons .facebook:hover {
      opacity: 0.8; }
  .social-buttons .twitter {
    background: url("../img/twitter.svg") center center no-repeat;
    display: inline-block;
    width: 40px; }
    .social-buttons .twitter:hover {
      opacity: 0.8; }

/* Footer */
footer {
  color: white;
  margin: 20px;
  text-align: center; }

/* Privacy Policy */
a.banner {
  position: absolute;
  left: 0;
  right: 0;
  background: #0082ed;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  a.banner:hover {
    background: #219bff;
    text-decoration: none; }
  a.banner:focus {
    background: #3ba6ff;
    text-decoration: none; }

section.privacy-policy {
  margin-top: 80px;
  margin-bottom: 80px; }
  section.privacy-policy a {
    color: white;
    font-weight: 700; }
    section.privacy-policy a:hover, section.privacy-policy a:focus {
      color: white;
      text-decoration: underline; }
  section.privacy-policy h1 {
    font-size: 5rem; }

/* Job */
.job {
  max-width: 700px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 80px; }
  .job h2 {
    font-weight: bolder;
    margin-top: 40px; }
  .job .location {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal; }
  .job .job-title {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .job .to-apply {
    background: #20c261;
    border-radius: 3px;
    color: white;
    padding: 20px;
    display: block;
    font-size: 18px;
    text-align: center; }

/* Error Pages*/
div.error {
  padding: 50px; }
  div.error .message, div.error .status {
    font-weight: 700; }
  div.error .stack {
    text-align: left;
    white-space: pre-line; }
  div.error .btn-back {
    margin-top: 50px; }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4rem; }

  h2 {
    font-size: 2rem; }

  form.signup input, form.signup button, form.signup .inputgroup {
    display: block !important;
    width: 100% !important;
    margin: 0 0 1rem !important;
    box-sizing: border-box;
    float: none !important; }

  .signup-container {
    padding-top: 30px; }

  .success-container {
    padding-top: 0; } }
