@import 'colors';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $blue;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.flex {
    display: flex;
    height: 100%;
    flex-direction: column;

    .flex-header, .flex-footer {
      flex: none;
    }

    .centered {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex: 1 0 auto;
    }
  }
}

a {
  color: white;
  font-weight: 700;

  &:hover, &:focus {
    color: white;
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* General */
html {
  font-size: 62.5%;
  // 62.5% so we can use rem values that are similar to pixel values, i.e. 2.4rem = 24px
  height: 100%;
}

p {
  font-size: 1.6rem;
}

.btn {
  border-radius: 4px;
  font-size: 1.6rem;
	padding: 0 1.5rem;
	margin: 0;
	border: 0;
	height: 4.4rem;
	line-height: 4.4rem;
	box-sizing: border-box;

  &.btn-primary {
    background: $green;
    color: white;
    font-weight: 700;
    border: 0;

    &:hover {
      background: darken($green, 5);
    }

    &:active, &:focus {
      background: darken($green, 10);
      border: 0;
      outline: 0;
      box-shadow: none;
    }
  }

  &.btn-secondary {
    background: $red;
    font-weight: 700;
    color: white;
    transition: 0.25s;

    &:hover {
      background: darken($red,8);
    }

    &:active, &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 8rem;
}

h2 {
  font-weight: 500;
  font-size: 2.8rem;
  margin-top: 1rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  body {
    min-height: 550px;
  }
}

.btn-contribute {
  height: 4.4rem;
  line-height: 4.4rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
  border-radius: 0;
}

/* Hero */

section.hero {

  h1 {
    margin-top: 0;
  }

  @media (max-width: 767px) {
    .signup-container {
      width: 100%;
      max-width: 500px;
    }
  }

  form.signup {
    padding-top: 4rem;
    max-width: 700px;
    margin: auto;
    width: 100%;
    text-align: center;

    .inputgroup {
      display: inline-block;
      margin-right: 0.5%;
      text-align: left;

      &.email {
        width: 45%;
      }

      &.zip {
        width: 30%;
      }
    }

    .alert {
      margin-top: 15px;
      text-align: center;
      background: $red;
      border: 0;
      color: white;
      font-weight: 700;
    }

    .submit {
      width: 22%;
      vertical-align: bottom;

      .btn {
        width: 100%;
      }
    }

    input {
      width: 100%;
      border-radius: 4px;
      color: $darkgray;
      height: 4.4rem;
  		line-height: 4.4rem;
  		padding: 0 1rem;
  		font-size: 1.6rem;
      box-sizing: border-box;
      border: 1px solid $lightgray;
    }

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    label {
      font-size: 1.4rem;
      padding: 0 0 1rem;
    }

  }
}

/* Success */
.success {
  padding: 20px;
  border-radius: 5px;
  background: $blue;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  // text-align: left;

  .donate {
    background: $darkblue;
    margin: 20px -20px -20px;
    padding: 20px;
    border-radius: 0 0 5px 5px;
  }
}

.social-buttons {
  text-align: center;
  margin: 20px auto;

  .facebook {
    background: url('../img/facebook.svg') center center no-repeat;
    @extend .hide-text;
    display: inline-block;
    width: 40px;

    &:hover {
      opacity: 0.8;
    }
  }

  .twitter {
    @extend .hide-text;
    background: url('../img/twitter.svg') center center no-repeat;
    display: inline-block;
    width: 40px;

    &:hover {
      opacity: 0.8;
    }
  }
}

/* Footer */
footer {
 color: white;
 margin: 20px;
 text-align: center;
}

/* Privacy Policy */
a.banner {
  position: absolute;
  left: 0;
  right:0;
  background: lighten($blue,10);
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    background: lighten($blue, 20);
    text-decoration: none;
  }

  &:focus {
    background: lighten($blue, 25);
    text-decoration: none;
  }
}

section.privacy-policy {
  margin-top: 80px;
  margin-bottom: 80px;

  a {
    color: white;
    font-weight: 700;

    &:hover, &:focus {
      color: white;
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 5rem;
  }

}

/* Error Pages*/
div.error {
  padding: 50px;

  .message, .status {
    font-weight: 700;
  }

  .stack {
    text-align: left;
    white-space: pre-line;
  }

  .btn-back {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  form.signup input, form.signup button, form.signup .inputgroup {
    display: block;
    width: 100% !important;
    margin: 0 0 1rem !important;
    box-sizing: border-box;
    float: none !important;
  }

  .signup-container {
    padding-top: 30px;
  }

  .success-container {
    padding-top: 0;
  }
}
