<div class="container-fluid centered">
    <a class="banner" href="/">
      < Back to Our Revolution
    </a>

    <section class="job text-left">
      <div class="job-title">
        <h1>Graphic Designer</h1>

        <div class="location"><strong>Location:</strong> Washington, D.C.</div>
      </div>

      <div class="to-apply"><strong>To apply, send a resume and any accompanying portfolio materials to Kenneth Pennington (<a href="mailto:kenneth@berniesanders.com?subject=Our%20Revolution%20Jobs%20-%20Graphic%20Designer">kenneth@berniesanders.com</a>).</strong></div>

      <h2>Campaigns end. Revolutions carry on.</h2>

      <p>By supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>

      <p>Our Revolution is looking for a creative graphic designer who wants to make art that changes the world. You will work on a variety of print and digital projects including but not limited to, banners, advertisements, social media graphics, web graphics, image-based HTML email designs, merchandising and photo editing.</p>

      <h2>Responsibilities</h2>

      <ul>
        <li>Craft creative digital and print pieces for Our Revolution</li>
        <li>Refine and utilize a style guide that will universalize the look and feel of Our Revolution</li>
        <li>Work with Our Revolution web development and social media teams to meet design needs on the website and social media</li>
        <li>Prepare rough drafts and present your ideas to other Our Revolution staff</li>
        <li>Amend designs and drafts based on staff comments</li>
      </ul>

      <h2>Requirements</h2>

      <ul>
        <li>Proven graphic designing experience</li>
        <li>Passion for progressive causes and candidates</li>
        <li>Ability to accept constructive criticism and feedback professionally</li>
        <li>Possession of creative flair, versatility, conceptual/visual ability and originality</li>
        <li>Demonstrable graphic design skills with a strong portfolio</li>
        <li>Ability to work with a team, communicate and present ideas</li>
        <li>Up to date with industry leading software and technologies (InDesign, Illustrator, Photoshop, etc)</li>
        <li>Professionalism regarding time and deadlines</li>
      </ul>

      <p>Our Revolution is committed to diversity among its staff, and recognizes that success requires the highest commitment to a diverse staff. Our Revolution is an equal opportunity employer and its policy is to recruit, hire, train, promote and administer any and all personnel actions without regard to sex, race, age, color, creed, national origin, religion, economic status, sexual orientation, gender identity or expression, ethnic identity or physical disability, or any other legally protected basis.</p>

    </section>
</div>
